  <div class="dashboard-container">
    <h2>{{ LISTA_DE_COLABORADORES }}</h2>
  
    <div class="dashboard-header d-flex justify-content-end mb-3">
      <button nz-button nzType="primary" class="margin-button-padrao" [routerLink]="['/dashboard']">{{ VOLTAR_PARA_DASHBOARD }}</button>
      <button nz-button nzType="primary" (click)="onNovoColaborador()">{{ NOVO }}</button>
    </div>
  
    <div class="logout-container">
      <button class="btn btn-warning" (click)="onLogout()">{{ LOGOUT }}</button>
    </div>
  
    @if (colaboradores().length > 0) {
      <table class="table table-striped w-100">
        <thead>
          <tr>
            <th>{{ NOME }}</th>
            <th class="text-center">{{ ACOES }}</th>
          </tr>
        </thead>
        <tbody>
          @for (colaborador of colaboradores(); track $index) {
            <tr>
              <td>{{ colaborador.nome }}</td>
              <td class="text-center">
                <button class="btn btn-sm btn-info me-1" (click)="onEditarColaborador(colaborador)">
                  {{ EDITAR }}
                </button>
                <button class="btn btn-sm btn-danger" (click)="onExcluirColaborador(colaborador.codigo)">
                  {{ EXCLUIR }}
                </button>
              </td>
            </tr>
          }
        </tbody>
      </table>
    } @else {
      <p class="text-center">{{ NENHUM_COLABORADOR_CADASTRADO }}</p>
    }
    @if (exibirModal()) {
      <app-modal-confirmacao
        #modalConfirmacao
        titulo="Excluir Colaborador"
        mensagem="Tem certeza que deseja excluir?"
        (confirmar)="onConfirmarExclusao()"
        (cancelar)="cancelar()"
      ></app-modal-confirmacao>
    }
  </div>