<div class="dashboard-container">
  <h2>{{LISTA_DE_TAREFAS}}</h2>

  <div class="dashboard-header">
    <button class="submit-btn" (click)="onNovaTarefa()">{{NOVO}}</button>
    <button class="logout-btn" (click)="onLogout()">{{LOGOUT}}</button>
  </div>

  @if (tarefas().length > 0) {
  <table class="task-table">
    <thead>
      <tr>
        <th>{{TITULO}}</th>
        <th>{{DESCRICAO}}</th>
        <th class="alinha-centro">{{STATUS}}</th>
        <th class="alinha-centro">{{DATA_DE_CRIACAO}}</th>
        <th class="alinha-centro">{{ACOES}}</th>
      </tr>
    </thead>
    <tbody>
      @for (tarefa of tarefas(); track $index) {
        <tr>
          <td>{{ tarefa.titulo }}</td>
          <td>{{ tarefa.descricao }}</td>
          <td
            class="task-status alinha-centro"
            [ngClass]="getStatusClass(tarefa.status)"
          >
            {{ formatStatus(tarefa.status) }}
          </td>
          <td class="alinha-centro">
            {{ tarefa.dataCriacao | date : "dd/MM/yyyy" }}
          </td>
          <td class="alinha-centro">
            <button class="edit-btn" (click)="onEditarTarefa(tarefa)">
              {{EDITAR}}
            </button>
            <button class="delete-btn" (click)="onExcluirTarefa(tarefa.codigo)">
              {{EXCLUIR}}
            </button>
          </td>
        </tr>
      }
  
    </tbody>
  </table>
  } @else {
  <p class="no-tasks-message">{{NENHUMA_TAREFA_CADASTRADA}}</p>
  } 
  
  @if (exibirModal()) {
  <app-modal-confirmacao
    titulo="Excluir Tarefa"
    mensagem="Tem certeza que deseja excluir esta tarefa?"
    (confirmar)="onConfirmarExclusao()"
    (cancelar)="cancelar()"
  >
  </app-modal-confirmacao>
  }
</div>
