  <div class="dashboard-container">
    <h2>{{ LISTA_DE_TAREFAS }}</h2>
  
    <div class="dashboard-header d-flex justify-content-end mb-3">
      <button nz-button nzType="primary" class="margin-button-padrao" (click)="onNovoColaborador()">{{ COLABORADOR }}</button>
      <button nz-button nzType="primary" (click)="onNovaTarefa()">{{ NOVO }}</button>
    </div>
  
    <div class="logout-container">
      <button class="btn btn-warning" (click)="onLogout()">{{ LOGOUT }}</button>
    </div>
  
    @if (tarefas().length > 0) {
      <table class="table table-striped w-100">
        <thead>
          <tr>
            <th>{{ TITULO }}</th>
            <th>{{ DESCRICAO }}</th>
            <th>{{ COLABORADOR }}</th>
            <th class="text-center">{{ STATUS }}</th>
            <th class="text-center">{{ DATA_DE_CRIACAO }}</th>
            <th class="text-center">{{ ACOES }}</th>
          </tr>
        </thead>
        <tbody>
          @for (tarefa of tarefas(); track $index) {
            <tr>
              <td>{{ tarefa.titulo }}</td>
              <td>{{ tarefa.descricao }}</td>
              <td>{{ tarefa.colaborador.nome }}</td>
              <td class="text-center" [ngClass]="getStatusClass(tarefa.status)">
                {{ formatStatus(tarefa.status) }}
              </td>
              <td class="text-center">
                {{ tarefa.dataCriacao | date : "dd/MM/yyyy" }}
              </td>
              <td class="text-center">
                <button class="btn btn-sm btn-info me-1" (click)="onEditarTarefa(tarefa)">
                  {{ EDITAR }}
                </button>
                <button class="btn btn-sm btn-danger" (click)="onExcluirTarefa(tarefa.codigo)">
                  {{ EXCLUIR }}
                </button>
              </td>
            </tr>
          }
        </tbody>
      </table>
    } @else {
      <p class="text-center">{{ NENHUMA_TAREFA_CADASTRADA }}</p>
    }
    @if (exibirModal()) {
      <app-modal-confirmacao
        #modalConfirmacao
        titulo="Excluir Tarefa"
        mensagem="Tem certeza que deseja excluir esta tarefa?"
        (confirmar)="onConfirmarExclusao()"
        (cancelar)="cancelar()"
      ></app-modal-confirmacao>
    }
  </div>