<div class="register-container">
  <h2>{{CADASTRE_SE}}</h2>
  <form [formGroup] = "form" class="register-form">
    <div class="input-group">
      <label for="nome">{{NOME}}:</label>
      <input type="text" id="nome" formControlName="nome" autocomplete="off">
    </div>
    <div class="input-group">
      <label for="email">{{EMAIL}}:</label>
      <input type="email" id="email" formControlName="email" autocomplete="off">
    </div>
    <div class="input-group">
      <label for="senha">{{SENHA}}:</label>
      <input type="password" id="senha" formControlName="senha" autocomplete="off">
    </div>
    <button (click) = "onSubmit()" class="submit-btn" [disabled]="form.invalid">{{CADASTRAR}}</button>
  </form>
  <p>{{JA_TEM_CONTA}} <a [routerLink]="['/login']">{{FACA_LOGIN}}</a></p>
</div>
