<div class="task-container">
  <h2>{{NOVA_TAREFA}}</h2>
  <form [formGroup]="form" class="task-form">
    <input type="hidden" id="codigo" formControlName="codigo">
    <input type="hidden" id="dataCriacao" formControlName="dataCriacao">
    <div class="input-group">
      <label for="titulo">{{TITULO}}:</label>
      <input type="text" id="titulo" formControlName="titulo" autocomplete="off">
    </div>

    <div class="input-group">
      <label for="descricao">{{DESCRICAO}}:</label>
      <textarea id="descricao" formControlName="descricao" rows="3"></textarea>
    </div>

    <div class="input-group">
      <label for="status">{{STATUS}}:</label>
      <select id="status" formControlName="status">
        <option value="ABERTO">{{ABERTO}}</option>
        <option value="EMANDAMENTO">{{EM_ANDAMENTO}}</option>
        <option value="CONCLUIDA">{{CONCLUIDA}}</option>
      </select>
    </div>

    <button (click)="onRegistrar()" class="submit-btn" [disabled]="form.invalid">{{SALVAR}}</button>
  </form>
  <p><a [routerLink]="['/dashboard']">{{VOLTAR_PARA_DASHBOARD}}</a></p>
</div>
